
<!--HEADER-->
<nav th:fragment="menu" class="bg-white border-gray-200 dark:bg-gray-900 border-b border-gray-300 p-4">
    <div class="flex flex-wrap items-center justify-between max-w-screen-xl mx-auto">

        <!--LOGO-->
        <a href="/" class="flex items-center space-x-3 rtl:space-x-reverse">
            <img th:src="@{/img/logo.png}" class="h-8 logo-light" style="height:5rem" alt="Beauty Logo" />
            <img th:src="@{/img/logo-dark.png}" class="h-8 logo-dark" style="height:5rem" alt="Beauty Logo (Dark Mode)" />
        </a>

        <!--SEARCH BAR-->
        <form class="max-w-lg mx-auto" style="width: 34rem;">
            <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>
            <div class="relative">
                <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                    <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                    </svg>
                </div>
                <input type="search" id="default-search" class="block w-full p-4 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Search by Title, Tags, Author..." required />
                <button type="submit" class="text-white absolute end-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Search</button>
            </div>
        </form>

        <!--CHANGING MENU DEPENDS ON USER PRIVILEGES-->
        <div class="flex items-center md:order-2 space-x-1 md:space-x-2 rtl:space-x-reverse">


            <!-- VISITORS -->
            <div th:unless="${userIdCookiePresent}">
                <a th:href="@{/login}" href="#" class="text-gray-800 dark:text-white hover:bg-gray-50 focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-4 py-2 md:px-5 md:py-2.5 dark:hover:bg-gray-700 focus:outline-none dark:focus:ring-gray-800">Login</a>
                <a th:href="@{/register}" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 md:px-5 md:py-2.5 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Sign up</a>
            </div>

            <!-- USERS -->
            <div th:if="${userIdCookiePresent && cookieObject.role == T(com.example.springteamwork.model.Role).USER || cookieObject.role == T(com.example.springteamwork.model.Role).AUTHOR}">
                <button id="dropdownUserAvatarButton" data-dropdown-toggle="dropdownAvatar" class="flex text-sm bg-gray-800 rounded-full md:me-0 focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600" type="button">



                    <img class="w-10 h-10 p-1 rounded-full ring-2 ring-gray-300 dark:ring-gray-500" th:src="'data:image/jpg;base64,' + ${cookieObject.imageBase64}" alt="Bordered avatar">


                </button>
                <div id="dropdownAvatar" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 dark:divide-gray-600">
                    <div class="px-4 py-3 text-sm text-gray-900 dark:text-white">
                        <div>Hi,
                            <span th:text="${cookieObject.firstName}"></span>
                        </div>
                        <div class="font-medium truncate">
                            <span th:text="${cookieObject.email}"></span>
                        </div>
                    </div>
                    <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownUserAvatarButton">

                        <!--AUTHORS ONLY-->
                        <li th:if="${userIdCookiePresent && cookieObject.role == T(com.example.springteamwork.model.Role).AUTHOR}">
                            <a th:href="@{/newPost}" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">
                                <button type="button" class="focus:outline-none text-white bg-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:focus:ring-yellow-900">
                                    <div class="flex items-center">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 mr-2">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                                        </svg>
                                        <span>New post</span>
                                    </div>
                                </button>
                            </a>
                        </li>

                        <li>
                            <a th:href="@{/edit}" href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">My informations</a>
                        </li>
                    </ul>
                    <div class="py-2">

                        <a th:href="@{/logout/{id}(id=${cookieObject.id})}" href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Sign out</a>
                    </div>
                </div>
            </div>



        </div>

        <!--END OF MENU-->

    </div>
</nav>
<!--END OF HEADER-->


<!-- Sidebar -->
<aside th:fragment="sidebar" class="w-full border-b sidebar-container" aria-label="Sidebar">
    <div class="sidebar-content py-4 px-3 bg-gray-50  dark:bg-gray-800">
        <div class="mt-6">
            <h3 class="text-lg font-medium text-gray-900 dark:text-white">Users</h3>
            <ul id="connected-users-list" class="mt-4 space-y-2">
                <li  th:each="connectedUser : ${listOfConnectedUsers}" class="flex items-center space-x-3">
                    <div class="relative">
                        <img class="w-10 h-10 rounded-full" th:src="'data:image/jpg;base64,' + ${connectedUser.imageBase64}">
                        <span class="absolute top-0 left-7 w-3.5 h-3.5 bg-green-400 border-2 border-white dark:border-gray-800 rounded-full"></span>
                    </div>
                    <div class="flex-1 min-w-0">
                        <p th:text="${connectedUser.username}" class="text-base font-medium text-gray-900 dark:text-white">Charlotte</p>
                    </div>
                </li>
                <li th:each="disconnectedUser : ${listOfDisconnectedUsers}" class="flex items-center space-x-3">
                    <div class="relative">
                        <img class="w-10 h-10 rounded-full" th:src="'data:image/jpg;base64,' + ${disconnectedUser.imageBase64}" alt="Dylan">
                        <span class="absolute top-0 left-7 w-3.5 h-3.5 bg-red-400 border-2 border-white dark:border-gray-800 rounded-full"></span>
                    </div>
                    <div class="flex-1 min-w-0">
                        <p th:text="${disconnectedUser.username}" class="text-base font-medium text-gray-900 dark:text-white">Dylan</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="sidebar-footer bg-gray-50 dark:bg-gray-800">
        <p class="text-sm text-gray-500 dark:text-gray-400">Connected: <span th:text="${numberOfConnectedUsers}"></span></p>
        <p class="text-sm text-gray-500 dark:text-gray-400">Disconnected: <span th:text="${numberOfDisconnectedUsers}"></span></p>
        <p class="text-sm text-gray-500 dark:text-gray-400">Number of visits: <span th:text="${numberOfVisits}"></span></p>
    </div>
</aside>
<!-- END OF Sidebar -->


<!--COPYRIGHT-->
<div th:fragment="footer" class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
            <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">Copyright © 2024 <a href="/" class="hover:underline">Beauty & Cosmetics</a>. All Rights Reserved.
            </span>
</div>