<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/flowbite@1.5.1/dist/flowbite.min.css" rel="stylesheet">
    <script src="https://unpkg.com/flowbite@1.5.1/dist/flowbite.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Beauty & Cosmetics Blogs</title>
    <link rel="shortcut icon" th:src="@{/favicon.ico}">
    <style>
        /*LOGO*/
        .logo-dark {
            display: none;
        }
        @media (prefers-color-scheme: dark) {
            .logo-light {
                display: none;
            }

            .logo-dark {
                display: block;
            }
        }

        /*SIDEBAR*/
        .sidebar-container {
            display: flex;
            flex-direction: column;
            height: 100%;
        }
        .sidebar-content {
            flex-grow: 1;
            overflow-y: auto;
        }
        .sidebar-footer {
            margin-top: auto;
            padding: 1rem;
        }
    </style>
</head>

<body>

    <!--HEADER-->
    <header th:insert="fragments :: menu"></header>

    <!--MAIN SECTION-->
    <div class="grid grid-cols-10">
        <div class="col-span-10">
            <section class="bg-white dark:bg-gray-900">
                <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">

                    <!--TITLE-->
                    <div class="mx-auto max-w-screen-sm text-center lg:mb-16 mb-8">
                        <h2 class="mb-4 text-3xl lg:text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Beauty & Cosmetics Blog</h2>
                    </div>

                    <!--FILTER BY-->
                    <div class="max-w-screen-sm mx-auto lg:mb-16 mb-8">
                        <form class="max-w-m mx-auto" th:action="@{/filterBy}" method="GET">
                            <div class="flex items-center mb-6">
                                <label for="small" class="mr-2 text-sm font-medium text-gray-900 dark:text-white">Filter by </label>
                                <select th:value="${filter}" name="filter" id="small" class="flex-1 p-2 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                                    <option value="Newest" th:selected="${filter == 'Newest'}">Newest</option>
                                    <option value="Oldest" th:selected="${filter == 'Oldest'}">Oldest</option>
                                    <!--
                                    <option value="Most popular" th:selected="${filter == 'Most popular'}">Most popular</option>
                                    <option value="Least popular" th:selected="${filter == 'Least popular'}">Least popular</option>
                                    -->
                                </select>
                                <label for="authorId" class="ml-2 text-sm font-medium text-gray-900 dark:text-white"> Author </label>
                                <select th:value="${selectedAuthorId}" name="authorId" id="authorId" class="ml-2 flex-1 p-2 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                                    <option value="0" th:selected="${selectedAuthorId == 0}">All</option>
                                    <option th:each="author:${authors}" th:value="${author.getId()}" th:text="${author.getFirstName()}+' '+${author.getLastName()}"  th:selected="${selectedAuthorId == author.getId()}"></option>
                                </select>
                                <button type="submit" class="ml-2 text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Sort</button>
                            </div>
                        </form>
                    </div>

                    <!--ERROR MESSAGE IF FOUND NOTHING-->
                    <div th:unless="${#lists.size(posts) > 0}" class="max-w-2xl mx-auto flex items-center p-4 mb-4 text-sm text-blue-800 rounded-lg bg-blue-50 dark:bg-gray-800 dark:text-blue-300" role="alert">
                        <svg class="flex-shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                            <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                        </svg>
                        <span class="sr-only">Info</span>
                        <div>
                            <span class="font-medium">Sorry, there are no results for your search.</span>
                        </div>
                    </div>

                    <!--POSTS-->
                    <div th:if="${#lists.size(posts) > 0}" class="mt-10 grid gap-8 lg:grid-cols-2">

                        <article th:each="post:${posts}" class="p-6 bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700">
                            <div class="flex justify-between items-center mb-5 text-gray-500">

                                <!--TAG-->
                                <form  th:action="@{/searchByTag}" method="POST" >
                                    <input th:value="'#'+${post.getTag()}" type="hidden" name="search" />
                                    <button type="submit">
                                        <span class="bg-gray-100 text-gray-800 text-xs font-medium inline-flex items-center px-2.5 py-0.5 rounded me-2 dark:bg-gray-700 dark:text-gray-400 border border-gray-500 ">
                                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                              <path stroke-linecap="round" stroke-linejoin="round" d="M9.568 3H5.25A2.25 2.25 0 0 0 3 5.25v4.318c0 .597.237 1.17.659 1.591l9.581 9.581c.699.699 1.78.872 2.607.33a18.095 18.095 0 0 0 5.223-5.223c.542-.827.369-1.908-.33-2.607L11.16 3.66A2.25 2.25 0 0 0 9.568 3Z" />
                                              <path stroke-linecap="round" stroke-linejoin="round" d="M6 6h.008v.008H6V6Z" />
                                            </svg> &nbsp;
                                            <span th:text="${post.tag}"></span>
                                        </span>
                                    </button>
                                </form>

                                <span class="text-sm" th:text="${#dates.format(post.createdAt, 'dd MMMM yyyy')} + ' at ' + ${#dates.format(post.createdAt, 'HH:mm')}"></span>
                            </div>
                            <h2 class="mb-5 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                                <a th:text="${post.title}" th:href="@{/showPost/{id}(id=${post.id})}">How to quickly deploy a static website</a>
                            </h2>

                            <a th:href="@{/showPost/{id}(id=${post.id})}">
                                <img class="rounded-lg" th:src="'data:image/jpeg;base64,' + ${post.imageBase64}" alt="Image"/>
                            </a>

                            <div class="mt-5 mb-5 font-light text-gray-500 dark:text-white-400">
                                <span th:utext="${post.description.length() > 200 ? #strings.substring(post.description, 0, 200) : post.description}"></span>
                                <span th:if="${post.description.length() > 200}">...</span>
                            </div>

                            <div class="flex justify-between items-center">
                                <div class="flex items-center space-x-4">
                                    <a th:href="@{/userProfile/{id}(id=${post.getAuthor().getId()})}" class="flex items-center space-x-4">
                                        <img class="w-7 h-7 rounded-full" th:src="'data:image/jpg;base64,' + ${post.getAuthor().getImageBase64()}" alt="Jese Leos avatar" />
                                        <span class="font-medium dark:text-white">
                                                <span th:text="${post.getAuthor().firstName}"></span>
                                                <span th:text="${post.getAuthor().lastName}"></span>
                                            </span>
                                    </a>
                                </div>
                                <a th:href="@{/showPost/{id}(id=${post.id})}" href="#" class="inline-flex items-center font-medium text-primary-600 dark:text-white hover:underline">
                                    Read more
                                    <svg class="ml-2 w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                                </a>
                            </div>
                        </article>

                    </div>
                    <!--END OF POSTS-->

                    <!--PAGINATION-->
                    <div th:if="${#lists.size(posts) > 0}" class="mt-10 grid place-items-center">
                        <nav aria-label="Page navigation example">
                            <ul class="flex items-center -space-x-px h-10 text-base">
                                <li th:if="${currentPage}>1">
                                    <a th:href="@{/pageNumber/{id}(id=${currentPage}-1)}" class="flex items-center justify-center px-4 h-10 ms-0 leading-tight text-gray-500 bg-white border border-e-0 border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                                        <span class="sr-only">Previous</span>
                                        <svg class="w-3 h-3 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4"/>
                                        </svg>
                                    </a>
                                </li>
                                <li th:each="i : ${#numbers.sequence(1, numberOfPages)}" >
                                    <a th:if="${i}==${currentPage}"     th:text="${i}" th:href="@{/pageNumber/{id}(id=${i})}" aria-current="page" class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-blue-100 hover:text-gray-700 dark:bg-blue-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"></a>
                                    <a th:unless="${i}==${currentPage}" th:text="${i}" th:href="@{/pageNumber/{id}(id=${i})}" aria-current="page" class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"></a>
                                </li>
                                <li th:if="${currentPage}<${numberOfPages}">
                                    <a th:href="@{/pageNumber/{id}(id=${currentPage}+1)}" class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                                        <span class="sr-only">Next</span>
                                        <svg class="w-3 h-3 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
                                        </svg>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <!--END OF PAGINATION-->

                </div>
            </section>
        </div>
        <!--END MAIN SECTION-->

        <!-- Sidebar STATS-->
        <div th:insert="fragments :: sidebar" class="col-span-2"></div>
        <!-- Sidebar FAV-->
        <div th:insert="fragments :: sidebarFavorites" class="col-span-2"></div>

    </div>

    <!--COPYRIGHT-->
    <footer th:insert="fragments :: footer" class="bg-white shadow dark:bg-gray-800"></footer>

</body>

<!--JS SCRIPT-->
<script th:insert="fragments :: myJSscript" th:remove="tag"></script>

</html>